@media (max-width: 1023px) {

  .header-container {
    width: 768px;
  }

  .header-container__logo {
    width: 105px;
  }

  .delivery {
    margin: 0 88px 0 22px;
  }

  .delivery-time__select {
    width: 57px;
  }

  .delivery__location input {
    width: 215px;
  }

  .main-container {
    width: 768px;
  }

  .search-field {
    width: 768px;
  }

  .search-field__input-field {
    width: 768px;
  }

  .restaurants-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .restaurant-card {
    width: 376px;
  }

  .restaurant-card__img {
    width: 376px;
    height: 256px;
  }

  .footer-container {
    width: 768px;
  }

  .footer-container__line {
    width: 768px;
  }

  .footer-navigation {
    width: 600px;
  }

  .site-language__select {
    width: 176px;
  }

  .download-apps {
    padding: 0 245px;
  }

  .privacy li:nth-child(2) {
    margin: 0 200px 0 145px;
  }
  
}
